<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Grapher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VectorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>math.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A2B22F21A898256008EAF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2B23141A89A1FD008EAF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFF10E31A89B4B400050D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFF111F1A89CB8E00050D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFF112E1A89CDBD00050D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
